<div class="card">
    <form [formGroup]="form" (keyup.enter)="enviarEmail()">
        <div class="flex justify-content-center">
            <div class="box-shadow border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1 m-8">
                <div class="w-15rem">
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" aria-describedby="email-help" pInputText class="w-full"
                            formControlName="email">
                        <div *ngIf="email?.dirty || email?.touched">
                            <small *ngIf="email?.errors?.['required']" id="email-help" class="p-error">Campo e-mail
                                obrigatório.</small>
                        </div>
                        <div *ngIf="userNotFound">
                            <small id="email-help" class="p-error">Usuário não encontrado.</small>
                        </div>
                    </div>
                    <div class="field text-center">
                        <button pButton pRipple type="button" label="Enviar" class="w-full"
                            (click)="enviarEmail()"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>