.layout-topbar {
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-topbar .topbar-start {
    display: flex;
    align-items: center;
}