<div class="card">
    <form [formGroup]="form" (keyup.enter)="atualizarSenha()">
        <div class="flex justify-content-center">
            <div class="box-shadow border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1 m-8">
                <div class="w-15rem">
                    <div class="field">
                        <label for="password">Nova senha</label>
                        <p-password id="password" [toggleMask]="true" [feedback]="true" class="w-full"
                            styleClass="p-password p-component p-inputwrapper p-input-icon-right" weakLabel="Fraca"
                            mediumLabel="Média" strongLabel="Forte" promptLabel="Insira uma senha"
                            formControlName="password">
                            <ng-template pTemplate="header">
                                <h6>Escolha uma senha</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Sugestões</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Pelo menos uma minúscula</li>
                                    <li>Pelo menos uma maiúscula</li>
                                    <li>Pelo menos um numérico</li>
                                    <li>Mínimo de 8 caracteres</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <div *ngIf="password?.dirty || password?.touched">
                            <small *ngIf="password?.errors?.['required']" id="password-help" class="p-error">Campo
                                senha
                                obrigatório.</small>
                        </div>
                        <div *ngIf="password?.dirty || password?.touched">
                            <small *ngIf="password?.errors?.['minlength']" id="password-help" class="p-error">Sua senha
                                deve ter pelo menos 8 caracteres.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmPassword">Confirmar nova senha</label>
                        <p-password id="confirmPassword" [toggleMask]="true" [feedback]="true" class="w-full"
                            styleClass="p-password p-component p-inputwrapper p-input-icon-right" weakLabel="Fraca"
                            mediumLabel="Média" strongLabel="Forte" promptLabel="Insira uma senha"
                            formControlName="confirmPassword">
                            <ng-template pTemplate="header">
                                <h6>Escolha uma senha</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Sugestões</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Pelo menos uma minúscula</li>
                                    <li>Pelo menos uma maiúscula</li>
                                    <li>Pelo menos um numérico</li>
                                    <li>Mínimo de 8 caracteres</li>
                                </ul>
                            </ng-template>
                        </p-password>
                        <div *ngIf="confirmPassword?.dirty || confirmPassword?.touched">
                            <small *ngIf="confirmPassword?.errors?.['required']" id="confirmPassword-help"
                                class="p-error">Campo
                                senha
                                obrigatório.</small>
                        </div>
                        <div *ngIf="confirmPassword?.dirty || confirmPassword?.touched">
                            <small *ngIf="confirmPassword?.errors?.['minlength']" id="confirmPassword-help"
                                class="p-error">Sua senha
                                deve ter pelo menos 8 caracteres.</small>
                        </div>
                        <div *ngIf="confirmPassword?.dirty || confirmPassword?.touched">
                            <small *ngIf="(confirmPassword?.value != password?.value)" id="confirmPassword-help"
                                class="p-error">Senhas não correspondem</small>
                        </div>
                    </div>
                    <div class="field text-center">
                        <button pButton pRipple type="button" label="Redefinir" class="w-full"
                            (click)="atualizarSenha()"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>