<div class="card">
    <form [formGroup]="form" (keyup.enter)="login()">
        <div class="flex justify-content-center">
            <div class="box-shadow border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1 m-8">
                <div class="w-15rem">
                    <div class="field">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" pInputText class="w-full" formControlName="email">
                        <div *ngIf="email?.dirty || email?.touched">
                            <small *ngIf="email?.errors?.['required']" id="name-help" class="p-error">Favor insira um
                                e-mail
                                válido.</small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <p-password id="password" [toggleMask]="true" [feedback]="false" class="w-full"
                            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                            formControlName="password">
                        </p-password>
                        <div *ngIf="password?.dirty || password?.touched">
                            <small *ngIf="password?.errors?.['required']" id="name-help" class="p-error">Favor insira
                                uma senha válida.</small>
                        </div>
                    </div>
                    <div class="field text-start"><a href="#/reset-password">Esqueceu sua senha?</a></div>
                    <div class="field text-center">
                        <button pButton pRipple type="button" label="Login" class="w-full" (click)="login()"></button>
                    </div>
                    <div class="field text-center">
                        <small *ngIf="isLoginInvalid" id="name-help" class="p-error">E-mail e/ou senha inválido.</small>
                    </div>
                    <p-divider></p-divider>
                    <div class="field text-center">
                        <button pButton pRipple type="button" label="Criar nova conta" class="p-button-success w-full"
                            (click)="goToCreateNewAccount()"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>