<p-confirmDialog></p-confirmDialog>
<p-card styleClass="pcard">
    <p class="text-center text-3xl m-auto font-bold">Consultar Ordens Serviço</p>
    <p-table [rowHover]="true" (onLazyLoad)="pesquisar($event)" [lazy]="true" [resizableColumns]="true"
        [value]="ordensServico" [paginator]="true" [rows]="rows" [first]="first" [totalRecords]="totalRecords"
        [showCurrentPageReport]="false" currentPageReportTemplate="{totalRecords} registros"
        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped pcard" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="flex justify-content-start col">
                    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-text"
                        (click)="cadastrar()"></button>
                </div>
                <div class="flex justify-content-end col-1">
                    <form [formGroup]="form" (keyup.enter)="pesquisar()">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search cursor-pointer" (click)="pesquisar()"></i>
                            <input formControlName="descricao" pInputText type="text" placeholder="Pesquisar..." />
                        </span>
                    </form>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Código</th>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Data Início</th>
                <th>Data Fim</th>
                <th>Total</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ordemServico>
            <tr>
                <td class="text-center">{{ordemServico.id}}</td>
                <td>{{ordemServico.descricao}}</td>
                <td>{{ordemServico.nomeCliente}}</td>
                <td>{{ordemServico.marca}}</td>
                <td>{{ordemServico.modelo}}</td>
                <td>{{ordemServico.dataInicio}}</td>
                <td>{{ordemServico.dataFim}}</td>
                <td>{{ordemServico.total | currency:'BRL'}}</td>
                <td class="text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info mr-1"
                        (click)="editarOrdemServico(ordemServico)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger"
                        (click)="deletarOrdemServico(ordemServico)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-end">
                {{totalRecords}} registro(s)
            </div>
        </ng-template>
    </p-table>
</p-card>