/* You can add global styles to this file, and also import other style files */
.box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* .topbar {
    margin: -7px -16px;
}

.pcard {
    margin: 0px -16px;
} */